{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
    {% set excluded_pages = ["license.html","disclaimers.html"] %}

  {% if page.url|lower not in excluded_pages %}
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7422173894969399"
     crossorigin="anonymous"></script>

  {% endif %}


{% endblock %}
{% block content %}
  {{ super() }}

<div class="disclaimer-note">
  See important 
  <a href="{{ base_url }}/disclaimers.html">disclaimers</a>.
</div>


  <!-- ✅ Bottom AdSense Ad -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7422173894969399"
     crossorigin="anonymous"></script>
<!-- horizontal_ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7422173894969399"
     data-ad-slot="8510630235"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}